/*@font-face {
  font-family: 'FiraCode';
  src: url('assets/FiraCode-Regular.woff2') format('woff2'),
    url('assets/FiraCode-Regular.woff') format('woff');
}

.reveal pre code {
  font-family: 'FiraCode';
}*/

.reveal pre code {
  padding: 15px;
}

img.large {
  height: 16em;
}

p.forked {
  font-size: 14px;
}

.reveal pre code {
  font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace;
}
